  <% if(user) { %>
    <form method="POST" action="/logout">
      <%= user.email %>
      <input type="submit" value="Logout" />
    </form>
  <% } else { %>
    <form method="GET" action="/urls/login">
      <a href="/urls/login">Login</a>
    </form>
    <form method="GET" action="/urls/register">
      <a href="urls/register">Sign up</a>
    </form>
  <% } %>



