<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>User Login</h1>
  <% if(user) { %>
    <form method="POST" action="/logout">
      <%= user.email %>
      <input type="submit" value="Logout" />
    </form>
  <% } else { %>
    <form method="POST" action="/urls/login">
      <label for="email">Email: </label>
      <input type="text" name="email"  />
      <label for="password">Password: </label>
      <input type="password" name="password" />
      <input type="submit" value="Login" />
    </form>
    <form method="GET">
      <a href="/urls/register">Sign up</a><br>
      <a href="/urls">Back to index-page</a>
    </form>
  <% } %>
</body>
</html>


