<!DOCTYPE html>
<html>
<head>
  <title>User Login</title>
</head>
<body>
  <h1>User Login</h1>
  <form action="/urls/login" method="POST">
    <label for="email">Email: </label>
    <input type="email" id="email" name="email">
    <label for="password">Password: </label>
    <input type="password" id="password" name="password">
    <button class="button" type="submit">Login</button>
  </form>
</body>
</html>